<app-landing-navbar> </app-landing-navbar>

<div id="body">
    <div class="row first-row d-flex">
        <div class="col-md-6 align-self-center">
            <div class="text-center m-3 center">
                <h1 class="primary-color"> Obtiene tu prueba gratis por 30 dias! </h1>
                <h2 class="quartenary-color"> No te pierdas de tu musica favorita en la mejor calidad y de forma gratuita!
                </h2>
                <button class="primary-button my-3"> Registrarme </button>
            </div>
        </div>
        <div class="col-md-6">

        </div>
    </div>

    <div class="row second-row d-flex">
        <div class="col-md-6 align-self-center">
            <div class="text-center background-color mt-5">
                <h1> Lleva la musica a donde vayas! </h1>
                <h5> En tu trabajo, en el auto, haciedno deporte. Elegi tus canciones favoritas y compartilas con tus amigos. Lleva la musica con vos y lleva la musica a tus amigos!</h5>
            </div>
        </div>
        <div class="col-md-6 align-self-center">
            <div class="landing-component">
                <img src="./assets/Group 9.png" height="317" class="img-fluid center-block d-block mx-auto" alt="Responsive image">
            </div>
        </div>
    </div>

    <div class="row third-row d-flex">
        <div class="col-md-6 align-self-center mt-5">
            <div class="mt-5 pb-5">
                <img src="./assets/Group 10.png" height="271" class="img-fluid center-block d-block mx-auto mt-4 pb-4" alt="Responsive image">
            </div>
        </div>
        <div class="col-md-6 align-self-center">
            <div class="text-center landing-component background-color mt-5">
                <h1> Puntua y opina sobre tus canciones favoritas </h1>
            </div>
        </div>
    </div>
</div>