<div class="fixed-top">
    <app-nav-bar></app-nav-bar>
</div>
<div class="row d-none d-md-flex desktop-display">
    <div class="col-3">
        <app-left-navigation-bar> </app-left-navigation-bar>
    </div>

    <div class="col-9">
        <div class="row mt-5">
            <div class="col-10">
                <div class="row">
                    <div class="col-3 user-review text-center">

                        <div class="card">
                            <div class="card-content">
                                <div class="card-front">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHWl5QZqfR1vN1d5HGvy0-hBss98OoJCVPVX7FvuJZwgThzDsnRWeMcI4nVP-mg-p_5Ipdp3Mxn0G6HAznFp8mvS7oMD6ViAQ&usqp=CAU&ec=45732302" height="193" alt="">
                                </div>
                                <div class="card-back bg-dark">
                                    <p class="card-body">
                                        <fa-icon [icon]="faPlay" class="play-icon"> </fa-icon>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div>
                            <p>Puntua este contenido! </p>
                            <a class="star" (click)="clickAddTodo(1)" [style.color]="getcolor()">
                                <fa-icon [icon]="faStar"> </fa-icon>
                            </a>
                            <a class="star" (click)="clickAddTodo(2)" [style.color]="getcolor2()">
                                <fa-icon [icon]="faStar"> </fa-icon>
                            </a>
                            <a class="star" (click)="clickAddTodo(3)" [style.color]="getcolor3()">
                                <fa-icon [icon]="faStar"> </fa-icon>
                            </a>
                            <a class="star" (click)="clickAddTodo(4)" [style.color]="getcolor4()">
                                <fa-icon [icon]="faStar"> </fa-icon>
                            </a>
                            <a class="star" (click)="clickAddTodo(5)" [style.color]="getcolor5()">
                                <fa-icon [icon]="faStar"> </fa-icon>
                            </a>
                        </div>
                    </div>
                    <div class="col-6 song-details">
                        <p class="type pt-2">CANCION</p>
                        <h2>Black Mirror</h2>
                        <p> <span> by </span> Sire </p>
                        <div class="pt-3 song-rating">
                            <fa-icon [icon]="faStar"> </fa-icon>
                            <fa-icon [icon]="faStar"> </fa-icon>
                            <fa-icon [icon]="faStar"> </fa-icon>
                            <fa-icon [icon]="faStar"> </fa-icon>
                            <fa-icon [icon]="faStar"> </fa-icon>
                            3.75 <span class="pl-5"> Ver detalle de la puntuacion</span>
                        </div>
                    </div>
                    <div class="col-3 right-icons text-right">
                        <div>
                            4:35
                            <fa-icon [icon]="faClock" class="ml-3"> </fa-icon>
                        </div>
                        <div class="mt-4">
                            <fa-icon [icon]="faShare" class="mx-5"> </fa-icon>
                            <fa-icon [icon]="faHeart"> </fa-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-10 bordered mt-5 pb-5">
                <div class="row m-5">
                    <img src="./assets/small-pic.png" class="rounded-circle mr-" alt="">
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
                <button class="primary-button text-center float-right mr-5"> Opinar</button>
                <div class="row my-2 mt-5" *ngFor="let comment of comments">
                    <div class="mx-5 px-4 my-1 comentario">
                        <p> <span class="mr-3">{{ comment.username}}</span> puntuó <span class="mx-2"> 
                            <fa-icon [icon]="faStar" *ngFor="let star of comment.stars"> </fa-icon> 
                        </span> </p>
                        <p *ngIf="comment.comment != ''" class="ml-4"> {{comment.comment}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mobile-display d-block d-md-none mt-4">
    <div class="row pt-5 mt-5 song-header">
        <div class="col-6 text-center pt-5">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHWl5QZqfR1vN1d5HGvy0-hBss98OoJCVPVX7FvuJZwgThzDsnRWeMcI4nVP-mg-p_5Ipdp3Mxn0G6HAznFp8mvS7oMD6ViAQ&usqp=CAU&ec=45732302" height="118" alt="">
        </div>
        <div class="col-6 text-center song-details pt-5">
            <h2>Black Mirror</h2>
            <p> <span> by </span> Sire </p>
            <fa-icon [icon]="faStar"> </fa-icon>
            <fa-icon [icon]="faStar"> </fa-icon>
            <fa-icon [icon]="faStar"> </fa-icon>
            <fa-icon [icon]="faStar"> </fa-icon>
            <fa-icon [icon]="faStar"> </fa-icon>
            3.15
        </div>
    </div>
    <div class="row container">
        <div class="col-6 user-review text-center">
            <p>Tu valoracion:</p>
            <a class="star" (click)="clickAddTodo(1)" [style.color]="getcolor()">
                <fa-icon [icon]="faStar"> </fa-icon>
            </a>
            <a class="star" (click)="clickAddTodo(2)" [style.color]="getcolor2()">
                <fa-icon [icon]="faStar"> </fa-icon>
            </a>
            <a class="star" (click)="clickAddTodo(3)" [style.color]="getcolor3()">
                <fa-icon [icon]="faStar"> </fa-icon>
            </a>
            <a class="star" (click)="clickAddTodo(4)" [style.color]="getcolor4()">
                <fa-icon [icon]="faStar"> </fa-icon>
            </a>
            <a class="star" (click)="clickAddTodo(5)" [style.color]="getcolor5()">
                <fa-icon [icon]="faStar"> </fa-icon>
            </a>
        </div>
        <div class="col-6 text-right pt-5 right-icons">
            <fa-icon [icon]="faHeart" class="mx-5"> </fa-icon>
            <fa-icon [icon]="faShare"> </fa-icon>
        </div>
    </div>

    <div class="mx-3 py-5">
        <div class="bordered container">
            <div class="row p-4" *ngFor="let comment of comments">
                <div class="py-2 comentario">
                    <p> <span class="mr-2">{{ comment.username}} </span> puntuó
                        <span class="mx-2"> 
                            <fa-icon [icon]="faStar" *ngFor="let star of comment.stars"> </fa-icon> 
                        </span> </p>
                    <p *ngIf="comment.comment !='' "> {{comment.comment}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h2 class="ml-5">Comenta! </h2>
        </div>
        <div class="row">
            <textarea cols="30 " class="mx-auto" rows="10"></textarea>
        </div>
        <button class="primary-button text-center float-right mt-3"> Opinar</button>
    </div>
</div>


<app-music-reproductor> </app-music-reproductor>