footer {
    height: 100px;
    width: 100vw;
    background-color: var(--dark-grey);
    color: white;
    border-width: 1px;
    border-top-style: solid;
    border-top-color: var(--primary-color);
}

#expandido {
    height: 50rem;
    width: 100vw;
    background-color: var(--dark-grey);
    color: white;
    border-width: 1px;
    border-top-style: solid;
    border-top-color: var(--primary-color);
    border-radius: 5px;
    z-index: 30;
}

#fotoalbum {
    margin-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icon {
    font-size: 22px;
}

.play {
    font-size: 36px;
}

.reproductor {
    font-size: 28px;
}

.arrow {
    font-size: 16px;
}

button {
    background-color: transparent;
    border: none;
    color: black;
}

.rotated {
    display: inline-block;
    transform-origin: top center;
    animation: mover 2s linear infinite ;
  }
  @keyframes mover{
    0% {transform: scale3d(1, 1, 1);
    color: "#585A66";}
    100%{transform: scale3d(1.1, 1.1, 1.1);
    color: gold;}
  }

.corazon :hover {
    color: rgba(250, 39, 39, 0.822);
}

@media only screen and (min-width: 420px) {
    footer {
        height: 95px;
    }
    p {
        margin: 0;
        padding: 0;
    }
    .review fa-icon {
        font-size: 22px;
    }
    .music fa-icon {
        font-size: 38px;
    }
    fa-icon {
        font-size: 28px;
    }
    .music .play {
        font-size: 50px;
    }
    .music-icons {
        margin-bottom: 0;
    }
    .music-bar {
        margin-top: -35px;
    }
}